/* .rwd-table {
  display: table;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
  width:100%;
} */
table{
  width: 100%;
  border:1px solid #000; 
  table-layout: fixed; /* 使用固定表格布局 */
}

tbody th {
  padding : 0.3rem 1rem;
  text-align: left;
  background-color: #D1E9E9;
  border-bottom: 1px solid #000; /* 可以根據需要調整邊框的粗細和顏色 */
  border:1px solid #000; 
}

tbody td {
  border:1px solid #000; 
}




thead th {
  height: 4rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: aliceblue;
  background-color: #4F9D9D;
  text-align: center;
  border:1px solid #000; 

}

thead td {
  border:1px solid #000; 
  color: black;
  background-color: #D1E9E9;
  text-align: center;
  padding: 0 0.5rem;
  white-space: nowrap; /* 不換行 */
  overflow: hidden; /* 隱藏超出部分 */
  text-overflow: ellipsis; /* 顯示省略符號（...） */
}


/* .rwd-table tbody tr, td{
  border-bottom: 1px solid black;
} */

@media screen and (min-width: 1400px) {
  .Tables {
    width: 85%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .Tables {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .Tables {
    width: 100%;
  }
}
