.rwd-table {
  display: table;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
  width:100%;
}

.rwd-table tbody tr, td{
  border-bottom: 1px solid black;
}

@media screen and (min-width: 1400px) {
  .Tables {
    width: 85%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .Tables {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .Tables {
    width: 100%;
  }
}
