.Block {
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 10rem;

}
.SignupLink {
  text-decoration: none;
  font-weight: bold;
  color: #3087a7;
}
@media screen and (min-width: 500px) {
  .Block {
    width: 80%;
    padding-left: 2rem;
    justify-content: left;
  }
  .Background {
    background: #d9d9d9;
    padding: 0 5vh 5vh;
  }
}
@media screen and (max-width: 500px) {
  .Block {
    width: 90%;
    /* padding: 0 5vh; */
  }
  .Background {
    background: #d9d9d9;
    align-items: flex-end;

    padding: 0;
  }
}
